@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 250px;
  height: 100%;
  background: #1b1b1b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar .text {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}

.sidebar .user {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

nav ul {
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
  transition: color 0.3s ease, background 0.3s ease;
}

nav ul li.active a {
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav ul li a:hover {
  background: #1e1e1e;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-height: 300px;
  margin-left: 250px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.headerTitle h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
  color: #b80000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.headerTitle h1:after {
  width: 100px;
  height: 3px;
  display: block;
  content: "";
  position: relative;
  margin-top: 10px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}
