<!DOCTYPE html>
<html>
<head>
<title>Access Denied</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="UTF-8">
<style>
    body{
    background-color: black;
    color: white;
    }

    h1 {
    color: red;
    }

    h6{
    color: red;
    text-decoration: underline;
    }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
    <body>
        <div class="w3-display-middle">
        <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
        <h1 class="w3-jumbo w3-animate-zoom w3-center"><code>拒絕訪問</code></h1>
        <hr class="w3-border-white w3-animate-zoom" style="margin:auto;width:50%">
        <h3 class="w3-center w3-animate-zoom">你無法訪問這項資源</h3>
        <h3 class="w3-center w3-animate-zoom">error code:403 Access Denied</h3>

        </div>
    </body>
</html>