{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<h1>歡迎，
    {% if user.first_name and user.last_name %}
      {{ user.first_name }}{{ user.last_name }}
    {% else %}
      {{ user.username }}
    {% endif %}
  ！</h1>
{% if user.is_superuser %}
<p>您的目前的身分為：<strong>超級使用者</strong>。</p>
{% else %}
<p>您的目前的身分為：<strong>{% for group in user.groups.all %}{{ group.name }}{% endfor %}</strong></p>

{% endif %}
{% endblock %}